* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Defines font family */
:root {
    --header-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --body-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    font-family: var(--header-font);
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Isolates color of 'seo' in the header*/
.header h1 .seo {
    color: #d9dcd6;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: var(--body-font);
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Creates main image content under header */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Displays main content cards */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Defines 3 main content cards */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: var(--body-font);
    background-color: #0072bb;
    color: #ffffff;
}

/* Photos for main content cards */
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/* Adjusts header for main content cards */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Displays and defines benefits table on right side of page */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: var(--body-font);
    background-color: #2589bd;
}

/* Defines font and margins for each benefit card */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Defines header for benefit cards */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Defines image for benefit cards */
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: var(--header-font);
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
